/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Tab bar styles */
.tab-bar {
  display: flex;
  background-color: #f1f1f1;
  padding: 10px;
  justify-content: space-around;
}

.tab-bar button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
}

.tab-bar button.active {
  background-color: #4CAF50;
  color: white;
}

/* Container styles */
.container {
  display: none;
}

#trendContainer {
  display: block;
}

#mapContainer {
  display: none;
}

#map {
  height: 1000px;
  width: 100%;
}
